/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


/* Document Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: --ff;
}


/* Variables  */


/* Utility Classes */


/* General Styles */