/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


/* Document Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

button, textarea, fieldset {
    font: inherit;
}

html {
    scroll-behavior: smooth;
    background-color: var(--clr-neutral2);
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/* Variables  */
:root {
    --ff: 'Poppins', sans-serif;

    --clr-primary: #4452FE;
    --clr-neutral: #ffffff;
    --clr-neutral2: #181818;
}


/* Utility Classes */
.margin-block {
    margin-block: 1rem;
}

.primary-button {
    background-color: var(--clr-neutral2);
    border: 1px solid var(--clr-neutral);
    color: var(--clr-neutral);
    padding: .5rem 2rem;
}


/* General Styles */


nav img {
    width: 30%;
}




@media (min-width:50em) {
    .header__nav {
        width: min(1200px, 90%);
        margin-inline: auto;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    

    nav ul {
        display: flex;
    }

    nav li {
        list-style: none;
        margin-inline: 1.5rem;
    }

    nav a {
        text-decoration: none;
        color: var(--clr-neutral);
    }
}