/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


/* Document Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: --ff;
}

button, textarea, fieldset {
    font: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/* Variables  */
:root {
    --ff: 'Poppins', sans-serif;

    --clr-primary: #4452FE;
    --clr-neutral: #ffffff;
    --clr-neutral2: #181818;
}


/* Utility Classes */


/* General Styles */